# Version control
.git
.gitignore

# Dependencies
node_modules
!package-lock.json

# Build output
build

# Test files
tests
coverage
jest.config.js

# Documentation
README.md
LICENSE
cline_docs

# Editor files
.vscode
*.swp
*.swo

# Logs
*.log
